In [120]:
from selenium import webdriver
from selenium.webdriver.support.select import Select
import time
import random
from selenium import webdriver
import csv 
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import bs4
import pandas as pd

In [121]:
driver = webdriver.Firefox(executable_path=r'C:/Users/abhi28/Downloads/geckodriver-v0.19.1-win64 (1)/geckodriver.exe')

In [122]:
driver.get('http://www.mlb.com')

In [123]:
stats_header_bar = driver.find_element_by_class_name('megamenu-navbar-overflow__menu-item--stats')

In [124]:
stats_header_bar.click()

In [125]:
stats_line_items = stats_header_bar.find_elements_by_tag_name('li')

In [126]:
stats_line_items[0].click()

In [127]:
hitting_season_element = driver.find_element_by_id('sp_hitting_season')
season_select = Select(hitting_season_element)

In [128]:
#season_select.select_by_index(2)
season_select.select_by_value('2015')
# season_select.select_by_visible_text('2014')

In [129]:
regular_season_element= driver.find_element_by_id('sp_hitting_game_type')
season_select_1 = Select(regular_season_element)
season_select_1.select_by_value("'R'")

In [130]:
from bs4 import BeautifulSoup

In [132]:
hit_team = driver.find_element_by_xpath('//*[@id="st_parent"]')
hit_team.click()

In [133]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [134]:
col_head = []
col_val = []
def data():
    for tr in soup.tbody.findAll('tr'):
        row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
        col_val.append(row)
        for th in soup.thead.tr.findAll('th'):
            if len(col_head)<len(col_val[0]):
                col_head.append(th.text.replace('▲','').replace('▼',''))
    print(col_head)
    print(col_val)

In [135]:
data()

['RK', 'Team', '', 'League', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB', 'CS', 'AVG', 'OBP', 'SLG', 'OPS', 'IBB', 'HBP', 'SAC', 'SF', 'TB', 'XBH', 'GDP', 'GO', 'AO', 'GO_AO', 'NP', 'PA']
[['1', 'Detroit Tigers', 'det', 'AL', '161', '5605', '689', '1515', '289', '49', '151', '660', '455', '1259', '83', '51', '.270', '.328', '.420', '.748', '36', '41', '23', '35', '2355', '489', '152', '1584', '1460', '1.08', '23702', '6159'], ['2', 'Toronto Blue Jays', 'tor', 'AL', '162', '5509', '891', '1480', '308', '17', '232', '852', '570', '1151', '88', '23', '.269', '.340', '.457', '.797', '12', '54', '36', '62', '2518', '557', '140', '1724', '1395', '1.24', '24051', '6231'], ['3', 'Kansas City Royals', 'kc', 'AL', '162', '5575', '724', '1497', '300', '42', '139', '689', '383', '973', '104', '34', '.269', '.322', '.412', '.734', '28', '77', '34', '47', '2298', '481', '133', '1759', '1560', '1.13', '22705', '6116'], ['4', 'San Francisco Giants', 'sf', 'NL', '162', '5565', '696', '1486', '288', '39', '136', '663', '457', '1159', '93', '36', '.267', '.326', '.406', '.732', '30', '49', '45', '37', '2260', '463', '142', '1830', '1314', '1.39', '23191', '6153'], ['5', 'Colorado Rockies', 'col', 'NL', '162', '5572', '737', '1479', '274', '49', '186', '702', '388', '1283', '97', '43', '.265', '.315', '.432', '.748', '47', '33', '44', '34', '2409', '509', '114', '1628', '1374', '1.18', '22661', '6071'], ['6', 'Boston Red Sox', 'bos', 'AL', '162', '5640', '748', '1495', '294', '33', '161', '706', '478', '1148', '71', '27', '.265', '.325', '.415', '.740', '28', '46', '30', '42', '2338', '488', '127', '1756', '1440', '1.22', '24709', '6237'], ['7', 'Arizona Diamondbacks', 'ari', 'NL', '162', '5649', '720', '1494', '289', '48', '154', '680', '490', '1312', '132', '44', '.264', '.324', '.414', '.738', '40', '33', '46', '57', '2341', '491', '134', '1759', '1321', '1.33', '23332', '6276'], ['8', 'Miami Marlins', 'mia', 'NL', '162', '5463', '613', '1420', '236', '40', '120', '575', '375', '1150', '112', '45', '.260', '.310', '.384', '.694', '30', '39', '71', '40', '2096', '396', '133', '1921', '1216', '1.58', '22254', '5988'], ['9', 'Pittsburgh Pirates', 'pit', 'NL', '162', '5631', '697', '1462', '292', '27', '140', '661', '461', '1322', '98', '45', '.260', '.323', '.396', '.719', '46', '89', '63', '41', '2228', '459', '115', '1739', '1327', '1.31', '23889', '6285'], ['10', 'Texas Rangers', 'tex', 'AL', '162', '5511', '751', '1419', '279', '32', '172', '707', '503', '1233', '101', '39', '.257', '.325', '.413', '.739', '32', '76', '43', '54', '2278', '483', '99', '1648', '1407', '1.17', '23738', '6187'], ['11', 'Cleveland Indians', 'cle', 'AL', '161', '5439', '669', '1395', '303', '29', '141', '640', '533', '1157', '86', '28', '.256', '.325', '.401', '.725', '34', '39', '47', '50', '2179', '473', '134', '1675', '1443', '1.16', '23795', '6109'], ['12', 'St. Louis Cardinals', 'stl', 'NL', '162', '5484', '647', '1386', '288', '39', '137', '619', '506', '1267', '69', '38', '.253', '.321', '.394', '.716', '47', '66', '39', '42', '2163', '464', '128', '1677', '1363', '1.23', '23494', '6139'], ['13', 'Tampa Bay Rays', 'tb', 'AL', '162', '5485', '644', '1383', '278', '32', '167', '612', '436', '1310', '87', '45', '.252', '.314', '.406', '.720', '22', '84', '19', '47', '2226', '477', '121', '1510', '1469', '1.03', '23210', '6071'], ['14', 'Milwaukee Brewers', 'mil', 'NL', '162', '5480', '655', '1378', '274', '34', '145', '624', '412', '1299', '84', '29', '.251', '.307', '.393', '.700', '35', '41', '55', '34', '2155', '453', '130', '1730', '1292', '1.34', '22558', '6024'], ['15', 'Atlanta Braves', 'atl', 'NL', '162', '5420', '573', '1361', '251', '18', '100', '548', '471', '1107', '69', '33', '.251', '.314', '.359', '.674', '39', '44', '67', '31', '1948', '369', '148', '1902', '1296', '1.47', '22644', '6034'], ['16', 'Washington Nationals', 'was', 'NL', '162', '5428', '703', '1363', '265', '13', '177', '665', '539', '1344', '57', '23', '.251', '.321', '.403', '.724', '38', '44', '55', '51', '2185', '455', '129', '1704', '1252', '1.36', '23247', '6117'], ['17', 'New York Yankees', 'nyy', 'AL', '162', '5567', '764', '1397', '272', '19', '212', '737', '554', '1227', '63', '25', '.251', '.323', '.421', '.744', '23', '63', '24', '54', '2343', '503', '105', '1558', '1568', '0.99', '24523', '6268'], ['18', 'Oakland Athletics', 'oak', 'AL', '162', '5600', '694', '1405', '277', '46', '146', '661', '475', '1119', '78', '29', '.251', '.312', '.395', '.707', '21', '40', '14', '38', '2212', '469', '124', '1704', '1548', '1.10', '23808', '6171'], ['19', 'Los Angeles Dodgers', 'la', 'NL', '162', '5385', '667', '1346', '263', '26', '187', '638', '563', '1258', '59', '34', '.250', '.326', '.413', '.739', '31', '60', '49', '30', '2222', '476', '135', '1630', '1365', '1.19', '23602', '6090'], ['20', 'Baltimore Orioles', 'bal', 'AL', '162', '5485', '713', '1370', '246', '20', '217', '686', '418', '1331', '44', '25', '.250', '.307', '.421', '.728', '23', '51', '20', '32', '2307', '483', '127', '1561', '1402', '1.11', '22911', '6007'], ['21', 'Houston Astros', 'hou', 'AL', '162', '5459', '729', '1363', '278', '26', '230', '691', '486', '1392', '121', '48', '.250', '.315', '.437', '.752', '22', '56', '28', '43', '2383', '534', '102', '1439', '1438', '1.00', '23543', '6073'], ['22', 'Chicago White Sox', 'cws', 'AL', '162', '5533', '622', '1381', '260', '27', '136', '595', '404', '1231', '68', '42', '.250', '.306', '.380', '.686', '22', '65', '30', '37', '2103', '423', '125', '1807', '1306', '1.38', '23140', '6070'], ['23', 'Seattle Mariners', 'sea', 'AL', '162', '5544', '656', '1379', '262', '22', '198', '624', '478', '1336', '69', '45', '.249', '.311', '.411', '.722', '31', '36', '38', '35', '2279', '482', '123', '1607', '1418', '1.13', '23814', '6131'], ['24', 'Philadelphia Phillies', 'phi', 'NL', '162', '5529', '626', '1374', '272', '37', '130', '586', '387', '1274', '88', '32', '.249', '.303', '.382', '.684', '20', '54', '53', '29', '2110', '439', '119', '1693', '1389', '1.22', '22644', '6053'], ['25', 'Cincinnati Reds', 'cin', 'NL', '162', '5571', '640', '1382', '257', '27', '167', '613', '496', '1255', '134', '38', '.248', '.312', '.394', '.706', '38', '42', '47', '40', '2194', '451', '112', '1640', '1493', '1.10', '23533', '6196'], ['26', 'Minnesota Twins', 'min', 'AL', '162', '5467', '696', '1349', '277', '44', '156', '661', '439', '1264', '70', '38', '.247', '.305', '.399', '.704', '31', '40', '30', '41', '2182', '477', '133', '1634', '1424', '1.15', '23100', '6017'], ['27', 'Los Angeles Angels', 'ana', 'AL', '162', '5417', '661', '1331', '243', '21', '176', '621', '435', '1150', '52', '34', '.246', '.307', '.396', '.702', '34', '58', '37', '40', '2144', '440', '116', '1676', '1453', '1.15', '22727', '5990'], ['28', 'New York Mets', 'nym', 'NL', '162', '5527', '683', '1351', '295', '17', '177', '654', '488', '1290', '51', '25', '.244', '.312', '.400', '.712', '42', '68', '29', '32', '2211', '489', '130', '1540', '1537', '1.00', '23931', '6145'], ['29', 'Chicago Cubs', 'chc', 'NL', '162', '5491', '689', '1341', '272', '30', '171', '657', '567', '1518', '95', '37', '.244', '.321', '.398', '.719', '47', '74', '32', '35', '2186', '473', '101', '1462', '1338', '1.09', '24646', '6200'], ['30', 'San Diego Padres', 'sd', 'NL', '162', '5457', '650', '1324', '260', '36', '148', '623', '426', '1327', '82', '29', '.243', '.300', '.385', '.685', '22', '40', '52', '42', '2100', '444', '108', '1597', '1411', '1.13', '23200', '6019']]

In [139]:
import pandas as pd

In [140]:
x= pd.DataFrame(col_val, columns= col_head)
x.set_index("RK")
x.to_csv('Q1.csv')

In [141]:
x

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,Detroit Tigers,det,AL,161,5605,689,1515,289,49,...,23,35,2355,489,152,1584,1460,1.08,23702,6159
1,2,Toronto Blue Jays,tor,AL,162,5509,891,1480,308,17,...,36,62,2518,557,140,1724,1395,1.24,24051,6231
2,3,Kansas City Royals,kc,AL,162,5575,724,1497,300,42,...,34,47,2298,481,133,1759,1560,1.13,22705,6116
3,4,San Francisco Giants,sf,NL,162,5565,696,1486,288,39,...,45,37,2260,463,142,1830,1314,1.39,23191,6153
4,5,Colorado Rockies,col,NL,162,5572,737,1479,274,49,...,44,34,2409,509,114,1628,1374,1.18,22661,6071
5,6,Boston Red Sox,bos,AL,162,5640,748,1495,294,33,...,30,42,2338,488,127,1756,1440,1.22,24709,6237
6,7,Arizona Diamondbacks,ari,NL,162,5649,720,1494,289,48,...,46,57,2341,491,134,1759,1321,1.33,23332,6276
7,8,Miami Marlins,mia,NL,162,5463,613,1420,236,40,...,71,40,2096,396,133,1921,1216,1.58,22254,5988
8,9,Pittsburgh Pirates,pit,NL,162,5631,697,1462,292,27,...,63,41,2228,459,115,1739,1327,1.31,23889,6285
9,10,Texas Rangers,tex,AL,162,5511,751,1419,279,32,...,43,54,2278,483,99,1648,1407,1.17,23738,6187
10,11,Cleveland Indians,cle,AL,161,5439,669,1395,303,29,...,47,50,2179,473,134,1675,1443,1.16,23795,6109
11,12,St. Louis Cardinals,stl,NL,162,5484,647,1386,288,39,...,39,42,2163,464,128,1677,1363,1.23,23494,6139
12,13,Tampa Bay Rays,tb,AL,162,5485,644,1383,278,32,...,19,47,2226,477,121,1510,1469,1.03,23210,6071
13,14,Milwaukee Brewers,mil,NL,162,5480,655,1378,274,34,...,55,34,2155,453,130,1730,1292,1.34,22558,6024
14,15,Atlanta Braves,atl,NL,162,5420,573,1361,251,18,...,67,31,1948,369,148,1902,1296,1.47,22644,6034
15,16,Washington Nationals,was,NL,162,5428,703,1363,265,13,...,55,51,2185,455,129,1704,1252,1.36,23247,6117
16,17,New York Yankees,nyy,AL,162,5567,764,1397,272,19,...,24,54,2343,503,105,1558,1568,0.99,24523,6268
17,18,Oakland Athletics,oak,AL,162,5600,694,1405,277,46,...,14,38,2212,469,124,1704,1548,1.10,23808,6171
18,19,Los Angeles Dodgers,la,NL,162,5385,667,1346,263,26,...,49,30,2222,476,135,1630,1365,1.19,23602,6090
19,20,Baltimore Orioles,bal,AL,162,5485,713,1370,246,20,...,20,32,2307,483,127,1561,1402,1.11,22911,6007
20,21,Houston Astros,hou,AL,162,5459,729,1363,278,26,...,28,43,2383,534,102,1439,1438,1.00,23543,6073
21,22,Chicago White Sox,cws,AL,162,5533,622,1381,260,27,...,30,37,2103,423,125,1807,1306,1.38,23140,6070
22,23,Seattle Mariners,sea,AL,162,5544,656,1379,262,22,...,38,35,2279,482,123,1607,1418,1.13,23814,6131
23,24,Philadelphia Phillies,phi,NL,162,5529,626,1374,272,37,...,53,29,2110,439,119,1693,1389,1.22,22644,6053
24,25,Cincinnati Reds,cin,NL,162,5571,640,1382,257,27,...,47,40,2194,451,112,1640,1493,1.10,23533,6196
25,26,Minnesota Twins,min,AL,162,5467,696,1349,277,44,...,30,41,2182,477,133,1634,1424,1.15,23100,6017
26,27,Los Angeles Angels,ana,AL,162,5417,661,1331,243,21,...,37,40,2144,440,116,1676,1453,1.15,22727,5990
27,28,New York Mets,nym,NL,162,5527,683,1351,295,17,...,29,32,2211,489,130,1540,1537,1.00,23931,6145
28,29,Chicago Cubs,chc,NL,162,5491,689,1341,272,30,...,32,35,2186,473,101,1462,1338,1.09,24646,6200
29,30,San Diego Padres,sd,NL,162,5457,650,1324,260,36,...,52,42,2100,444,108,1597,1411,1.13,23200,6019

In [142]:
print("Team which had maximum number of home runs was {}" .format(x.max()))

Team which had maximum number of home runs was RK                           9
Team      Washington Nationals
                           was
League                      NL
G                          162
AB                        5649
R                          891
H                         1515
2B                         308
3B                          49
HR                         232
RBI                        852
BB                         570
SO                         973
SB                          98
CS                          51
AVG                       .270
OBP                       .340
SLG                       .457
OPS                       .797
IBB                         47
HBP                         89
SAC                         71
SF                          62
TB                        2518
XBH                        557
GDP                         99
GO                        1921
AO                        1568
GO_AO                     1.58
NP                       24709
PA                        6285
dtype: object

# Q2

In [143]:
hit_AL = driver.find_element_by_xpath('//*[@id="st_hitting-0"]/fieldset[2]/label[2]')
hit_AL.click()

In [144]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [145]:
col_head_1 = []
col_val_1 = []
for tr in soup.tbody.findAll('tr'):
    row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
    col_val_1.append(row)
    for th in soup.thead.tr.findAll('th'):
        if len(col_head_1)<len(col_val_1[0]):
            col_head_1.append(th.text.replace('▲','').replace('▼',''))

In [146]:
print(col_head_1)
print(col_val_1)

['RK', 'Team', '', 'League', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB', 'CS', 'AVG', 'OBP', 'SLG', 'OPS', 'IBB', 'HBP', 'SAC', 'SF', 'TB', 'XBH', 'GDP', 'GO', 'AO', 'GO_AO', 'NP', 'PA']
[['1', 'Detroit Tigers', 'det', 'AL', '161', '5605', '689', '1515', '289', '49', '151', '660', '455', '1259', '83', '51', '.270', '.328', '.420', '.748', '36', '41', '23', '35', '2355', '489', '152', '1584', '1460', '1.08', '23702', '6159'], ['2', 'Toronto Blue Jays', 'tor', 'AL', '162', '5509', '891', '1480', '308', '17', '232', '852', '570', '1151', '88', '23', '.269', '.340', '.457', '.797', '12', '54', '36', '62', '2518', '557', '140', '1724', '1395', '1.24', '24051', '6231'], ['3', 'Kansas City Royals', 'kc', 'AL', '162', '5575', '724', '1497', '300', '42', '139', '689', '383', '973', '104', '34', '.269', '.322', '.412', '.734', '28', '77', '34', '47', '2298', '481', '133', '1759', '1560', '1.13', '22705', '6116'], ['4', 'Boston Red Sox', 'bos', 'AL', '162', '5640', '748', '1495', '294', '33', '161', '706', '478', '1148', '71', '27', '.265', '.325', '.415', '.740', '28', '46', '30', '42', '2338', '488', '127', '1756', '1440', '1.22', '24709', '6237'], ['5', 'Texas Rangers', 'tex', 'AL', '162', '5511', '751', '1419', '279', '32', '172', '707', '503', '1233', '101', '39', '.257', '.325', '.413', '.739', '32', '76', '43', '54', '2278', '483', '99', '1648', '1407', '1.17', '23738', '6187'], ['6', 'Cleveland Indians', 'cle', 'AL', '161', '5439', '669', '1395', '303', '29', '141', '640', '533', '1157', '86', '28', '.256', '.325', '.401', '.725', '34', '39', '47', '50', '2179', '473', '134', '1675', '1443', '1.16', '23795', '6109'], ['7', 'Tampa Bay Rays', 'tb', 'AL', '162', '5485', '644', '1383', '278', '32', '167', '612', '436', '1310', '87', '45', '.252', '.314', '.406', '.720', '22', '84', '19', '47', '2226', '477', '121', '1510', '1469', '1.03', '23210', '6071'], ['8', 'New York Yankees', 'nyy', 'AL', '162', '5567', '764', '1397', '272', '19', '212', '737', '554', '1227', '63', '25', '.251', '.323', '.421', '.744', '23', '63', '24', '54', '2343', '503', '105', '1558', '1568', '0.99', '24523', '6268'], ['9', 'Oakland Athletics', 'oak', 'AL', '162', '5600', '694', '1405', '277', '46', '146', '661', '475', '1119', '78', '29', '.251', '.312', '.395', '.707', '21', '40', '14', '38', '2212', '469', '124', '1704', '1548', '1.10', '23808', '6171'], ['10', 'Baltimore Orioles', 'bal', 'AL', '162', '5485', '713', '1370', '246', '20', '217', '686', '418', '1331', '44', '25', '.250', '.307', '.421', '.728', '23', '51', '20', '32', '2307', '483', '127', '1561', '1402', '1.11', '22911', '6007'], ['11', 'Houston Astros', 'hou', 'AL', '162', '5459', '729', '1363', '278', '26', '230', '691', '486', '1392', '121', '48', '.250', '.315', '.437', '.752', '22', '56', '28', '43', '2383', '534', '102', '1439', '1438', '1.00', '23543', '6073'], ['12', 'Chicago White Sox', 'cws', 'AL', '162', '5533', '622', '1381', '260', '27', '136', '595', '404', '1231', '68', '42', '.250', '.306', '.380', '.686', '22', '65', '30', '37', '2103', '423', '125', '1807', '1306', '1.38', '23140', '6070'], ['13', 'Seattle Mariners', 'sea', 'AL', '162', '5544', '656', '1379', '262', '22', '198', '624', '478', '1336', '69', '45', '.249', '.311', '.411', '.722', '31', '36', '38', '35', '2279', '482', '123', '1607', '1418', '1.13', '23814', '6131'], ['14', 'Minnesota Twins', 'min', 'AL', '162', '5467', '696', '1349', '277', '44', '156', '661', '439', '1264', '70', '38', '.247', '.305', '.399', '.704', '31', '40', '30', '41', '2182', '477', '133', '1634', '1424', '1.15', '23100', '6017'], ['15', 'Los Angeles Angels', 'ana', 'AL', '162', '5417', '661', '1331', '243', '21', '176', '621', '435', '1150', '52', '34', '.246', '.307', '.396', '.702', '34', '58', '37', '40', '2144', '440', '116', '1676', '1453', '1.15', '22727', '5990']]

In [147]:
import pandas as pd

In [149]:
x_1_AL = pd.DataFrame(col_val_1, columns= col_head_1)
x_1_AL.set_index("RK")
x_1_AL.to_csv('Q2.csv')

In [150]:
x_1_AL

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,Detroit Tigers,det,AL,161,5605,689,1515,289,49,...,23,35,2355,489,152,1584,1460,1.08,23702,6159
1,2,Toronto Blue Jays,tor,AL,162,5509,891,1480,308,17,...,36,62,2518,557,140,1724,1395,1.24,24051,6231
2,3,Kansas City Royals,kc,AL,162,5575,724,1497,300,42,...,34,47,2298,481,133,1759,1560,1.13,22705,6116
3,4,Boston Red Sox,bos,AL,162,5640,748,1495,294,33,...,30,42,2338,488,127,1756,1440,1.22,24709,6237
4,5,Texas Rangers,tex,AL,162,5511,751,1419,279,32,...,43,54,2278,483,99,1648,1407,1.17,23738,6187
5,6,Cleveland Indians,cle,AL,161,5439,669,1395,303,29,...,47,50,2179,473,134,1675,1443,1.16,23795,6109
6,7,Tampa Bay Rays,tb,AL,162,5485,644,1383,278,32,...,19,47,2226,477,121,1510,1469,1.03,23210,6071
7,8,New York Yankees,nyy,AL,162,5567,764,1397,272,19,...,24,54,2343,503,105,1558,1568,0.99,24523,6268
8,9,Oakland Athletics,oak,AL,162,5600,694,1405,277,46,...,14,38,2212,469,124,1704,1548,1.10,23808,6171
9,10,Baltimore Orioles,bal,AL,162,5485,713,1370,246,20,...,20,32,2307,483,127,1561,1402,1.11,22911,6007
10,11,Houston Astros,hou,AL,162,5459,729,1363,278,26,...,28,43,2383,534,102,1439,1438,1.00,23543,6073
11,12,Chicago White Sox,cws,AL,162,5533,622,1381,260,27,...,30,37,2103,423,125,1807,1306,1.38,23140,6070
12,13,Seattle Mariners,sea,AL,162,5544,656,1379,262,22,...,38,35,2279,482,123,1607,1418,1.13,23814,6131
13,14,Minnesota Twins,min,AL,162,5467,696,1349,277,44,...,30,41,2182,477,133,1634,1424,1.15,23100,6017
14,15,Los Angeles Angels,ana,AL,162,5417,661,1331,243,21,...,37,40,2144,440,116,1676,1453,1.15,22727,5990

In [152]:
a=x_1_AL['HR']
import numpy as np
m=[]
for i in a:
    m.append(int(i))
m
average_AL = np.mean(m)
average_AL

175.6

National League

In [153]:
hit_NL = driver.find_element_by_xpath('//*[@id="st_hitting-0"]/fieldset[2]/label[3]')
hit_NL.click()

In [156]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [158]:
col_head_2=[]
col_val_2=[]
for tr in soup.tbody.findAll('tr'):
    row= [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
    col_val_2.append(row)
    for th in soup.thead.tr.findAll('th'):
        if len(col_head_2)<len(col_val_2[0]):
            col_head_2.append(th.text.replace('▲','').replace('▼',''))

In [159]:
import pandas as pd

In [160]:
x_1_NL = pd.DataFrame(col_val_2, columns= col_head_2)
x_1_NL.set_index("RK")
x_1_NL.to_csv('Q2.csv')

In [161]:
x_1_NL

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,San Francisco Giants,sf,NL,162,5565,696,1486,288,39,...,45,37,2260,463,142,1830,1314,1.39,23191,6153
1,2,Colorado Rockies,col,NL,162,5572,737,1479,274,49,...,44,34,2409,509,114,1628,1374,1.18,22661,6071
2,3,Arizona Diamondbacks,ari,NL,162,5649,720,1494,289,48,...,46,57,2341,491,134,1759,1321,1.33,23332,6276
3,4,Miami Marlins,mia,NL,162,5463,613,1420,236,40,...,71,40,2096,396,133,1921,1216,1.58,22254,5988
4,5,Pittsburgh Pirates,pit,NL,162,5631,697,1462,292,27,...,63,41,2228,459,115,1739,1327,1.31,23889,6285
5,6,St. Louis Cardinals,stl,NL,162,5484,647,1386,288,39,...,39,42,2163,464,128,1677,1363,1.23,23494,6139
6,7,Milwaukee Brewers,mil,NL,162,5480,655,1378,274,34,...,55,34,2155,453,130,1730,1292,1.34,22558,6024
7,8,Atlanta Braves,atl,NL,162,5420,573,1361,251,18,...,67,31,1948,369,148,1902,1296,1.47,22644,6034
8,9,Washington Nationals,was,NL,162,5428,703,1363,265,13,...,55,51,2185,455,129,1704,1252,1.36,23247,6117
9,10,Los Angeles Dodgers,la,NL,162,5385,667,1346,263,26,...,49,30,2222,476,135,1630,1365,1.19,23602,6090
10,11,Philadelphia Phillies,phi,NL,162,5529,626,1374,272,37,...,53,29,2110,439,119,1693,1389,1.22,22644,6053
11,12,Cincinnati Reds,cin,NL,162,5571,640,1382,257,27,...,47,40,2194,451,112,1640,1493,1.10,23533,6196
12,13,New York Mets,nym,NL,162,5527,683,1351,295,17,...,29,32,2211,489,130,1540,1537,1.00,23931,6145
13,14,Chicago Cubs,chc,NL,162,5491,689,1341,272,30,...,32,35,2186,473,101,1462,1338,1.09,24646,6200
14,15,San Diego Padres,sd,NL,162,5457,650,1324,260,36,...,52,42,2100,444,108,1597,1411,1.13,23200,6019

In [167]:
b=x_1_NL['HR']
import numpy as np
m1=[]
for i in b:
    m1.append(int(i))
m1
average_NL = np.mean(m1)
average_NL

151.66666666666666

In [171]:
pwd

'C:\\Users\\abhi28\\Desktop'